* {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  font-family: "Poppins";
}

.btn {
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: #171100;
  padding: 11px 41px;
  border-radius: 25px;
}

.btn:hover {
  opacity: 0.8;
}

/* Header */

.header {
  height: 100vh;
  background-color: #fffcf4;
  padding: 35px 0;
}

.content {
  width: 1170px;
  height: 50px;
  margin: 35px auto 0;
}

.header .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .navigation .nav {
  display: flex;
  justify-content: space-around;
  width: 359px;
  margin-left: auto;
  margin-right: 111px;
}

.header .content .navigation .nav a {
  color: #5f5b53;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
}

.header .content .navigation .nav li:first-child a {
  position: relative;
  color: #171100;
}

/* .header .content .navigation .nav li:first-child a::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 2;
  border-radius: 1px;
  background-color: #171100;
} */

.header .content .navigation .nav span {
  position: absolute;
  left: 0;
  bottom: -3px;
  display: block;
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background-color: #171100;
}

/* hero */

.hero-wrap {
  margin-top: 72px;
  display: flex;
}

.hero-wrap .block {
  position: relative;
  width: 570px;
}

.hero-wrap .block .courses {
  position: absolute;
  right: 0;
  bottom: 48px;
  border-radius: 12px;
  width: 270px;
  height: 244px;
  background-color: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero-wrap .block .courses .items {
  margin: 24px 63px 24px 24px;
}

.hero-wrap .block .courses .item-course {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  width: 183px;
  height: 56px;
}

.hero-wrap .block .courses .item-course + .item-course {
  margin-top: 14px;
  margin-bottom: 14px;
}

.hero-wrap .block .courses .item-course .info-course {
  margin-left: 16px;
}

.hero-wrap .block .courses .item-course .info-course .title-course {
  color: #5f5b53;
  font-family: 1.4rem;
  font-weight: 400;
  line-height: 1.8;
}

.hero-wrap .block .courses .item-course .info-course strong {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
}

.hero-wrap .body {
  margin-left: auto;
  width: calc(1170px - 570px);
}

.hero-wrap .body .container {
  width: 470px;
  margin-left: auto;
}

.hero-wrap .body .title {
  margin-top: 64px;
  /* margin-left: auto; */
  width: 470px;
  height: 204px;
  color: #171100;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 68px;
  font-family: Sen;
}

.hero-wrap .body .sub-title {
  margin-top: 22px;
  /* margin-left: auto; */
  width: 470px;
  height: 90px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6;
}

.hero-wrap .body .actions-link {
  margin-top: 20px;
  /* margin-left: auto; */
  display: flex;
  align-items: center;
}

.hero-wrap .btn {
  /* margin-left: 132px; */
  background-color: #ffb900;
  padding: 17px 33px 17px 34px;
  border-radius: 32px;
}

.hero-wrap .body strong {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
}

.hero-wrap .body .play-video {
  display: flex;
  align-items: center;
  /* position: relative; */
}

.hero-wrap .body .play-btn {
  /* position: absolute; */
  margin-top: 12px;
  margin-left: 10px;
}

.hero-wrap .body .info-number {
  /* width: 361px; */
  /* height: 92px; */
  margin-top: 30px;
}

.hero-wrap .body .container .reply {
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.8;
}

.hero-wrap .body .info-number .info {
  display: flex;
  align-items: flex-end;
}

.hero-wrap .body .info-number .info .info-desc {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 173px;
}

.hero-wrap .body .info-number .info .info-desc .number {
  color: #171100;
  font-family: Sen;
  font-size: 4.4rem;
  font-weight: 700;
  align-self: flex-end;
}

.hero-wrap .body .info-number .info .info-desc .people {
  color: #5f5b53;
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 400;
}

.hero-wrap .body .info-number .info .info-desc:first-of-type {
  margin-right: 28px;
}
